.*
!.eslintrc.json
!.eslintignore
!.npmignore
!.gitignore
!.github

/dist
/node_modules
/selenium
/src
/vendor
/.bundle
*.d.ts
*.js.map
*.log
package-lock.json

blots/*.js
core/*.js
formats/*.js
modules/*.js
themes/*.js
ui/*.js
test/random.js

core.js
quill.js
/test-results/
/playwright-report/
/playwright/.cache/
!/dist
