.*
!.eslintrc.json
!.eslintignore
!.npmignore
!.gitignore
!.github

/node_modules
/selenium
/src
/vendor
/.bundle
*.log
package-lock.json

test/random.js

/test-results/
/playwright-report/
/playwright/.cache/
